body {
    background-color: beige;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 100%;
}

.cards section {
    background-color: wheat;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 5%;
}