@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Quantico&display=swap');

header {
    background-color: aquamarine;
    padding: 1%;
    text-align: center;
}

body {
    padding: 2.5%;
    font-family: Quantico;
    width: 95%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridbox {
    border: 1px solid black;
    border-radius: 1%;
    margin: 1%;
    padding: 1%;
}

.gridbox img {
    width: 100%;
}