@media only screen and (min-width: 1024px) {
    header {
        /* color: blue; */
    }

    header h1 {
        flex-grow: 1;
    }

    main {
        display: grid;
        grid-template-areas:
            "event hero hero spot"
            "weather hero hero spot"
            "join news news spot";
        gap: 25px;
        margin: 25px 25px 0px 25px;
        justify-items: stretch;
        padding-bottom: 50vh;
    }

    .joincontent {
        grid-template-areas:
            "hero hero spot spot"
            "hero hero spot spot"
            "event news news weather";
    }

    #menuicon {
        display: none;
    }

    #menu {
        min-width: 440px;
        max-width: 70%;
    }

    #menu a {
        display: block;
    }

}