@media only screen and (min-width: 500px) and (max-width: 1023px) {
    header {
        padding: 5%;
        width: 90%;
        max-height: 200px;
    }

    main {
        display: grid;
        grid-template-areas:
            "hero hero hero"
            "news news news"
            "spot spot spot"
            "join join join"
            "event event weather";
        gap: 25px;
        margin: 25px 25px 0px 25px;
        justify-items: stretch;
        padding-bottom: 55vh;
    }

    .joincontent {
        grid-template-areas:
            "hero hero spot"
            "news news news"
            "join join join"
            "event event weather";
    }

    header h1 {
        padding-left: 5%;
        width: 250px;
        flex-grow: 1;
    }

    #menu {
        display: none;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        position: fixed;
        padding: 100px;
        gap: 25px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 98;
        background-color: #1b4965;
        text-align: center;
    }

    #menu {
        display: none;
    }

    #menuicon {
        border: none;
        z-index: 99;
        text-align: right;
    }

    #menuopen {
        display: block;
    }

    #menuclose {
        display: none;
    }

    .show_menu {
        transition: 0s;
    }

}