@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Quantico&display=swap');

body {
    max-width: 100%;
    font-family: Quantico;
    background-color: #cae9ff;
    position: relative;
}

marquee,
#scrollbanner {
    position: absolute;
    color: #cae9ff;
    text-align: center;
    width: 100%;
}

header {
    color: #cae9ff;
    background-color: #1b4965;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    width: 98%;
    padding: 1%;
}

a[href="index.html"],
a[href="index.html"]:link,
a[href="index.html"]:visited,
a[href="index.html"]:hover,
a[href="index.html"]:active {
    color: #cae9ff;
}

#logo {
    padding-left: 5px;
}

nav {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    flex: 1;
}

#menu {
    justify-items: center;
    /* align-items: center; */
}

button {
    color: #cae9ff;
    background-color: #1b4965;
    transition-duration: 0.4s;
}

#menu a {
    color: #cae9ff;
    background-color: #1b4965;
    padding: 1%;
    width: 100%;
    height: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu a:hover,
#menu button:hover {
    color: #1b4965;
    background-color: #cae9ff;
}

#menuicon {
    display: block;
    border: none;
    text-align: right;
}

#menuopen {
    display: block;
}

#menuclose {
    display: none;
}

#todaydate {
    color: #1b4965;
    background-color: #bee9e8;
    /* I don't like this background color but I needed
    to get this banner to pass the contrast test */
    align-self: center;
    text-align: center;
    width: 100%;
    padding: 1%;
    margin: 1%;
}

main div,
main a {
    background-color: #1b4965;
    color: #cae9ff;
    padding: 0 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.imgtext {
    background-color: #1b4965;
    color: #cae9ff;
    position: absolute;
    /* width: auto; */
    padding: 5%;
    margin: 0;
    bottom: 0;
    /* left: 0; */
    /* right: 0; */
    font-size: 1em;
    z-index: 5;
}

#events {
    grid-area: event;
}

#hero {
    grid-area: hero;
    position: relative;
    padding: 0;
    width: 100%;
}

#hero img {
    width: 100%;
}

#weather {
    grid-area: weather;
    padding-bottom: 5%;
}

#weather_header {
    width: 100%;
    align-items: center;
    height: 70px;
}

#weather_header h3 {
    width: 40%;
}

#weather_status {
    width: 20%;
    text-align: center;
}

#weather_text {
    text-align: right;
    align-items: flex-start;
}

.weather_content {
    width: 100%;
    text-align: center;
}

.weather_content p {
    margin-bottom: 0;
}

.title {
    text-decoration-line: underline;
}

#join {
    grid-area: join;
    font-size: x-large;
    background-color: #eebd4d;
    color: #1b4965;
    /* max-width: fit-content; */
    border-radius: 50%;
    justify-self: center;
}

#spotlight {
    grid-area: spot;
    padding-bottom: 5%;
}

.tile {
    border: 1px solid #62b6cb;
    border-radius: 10px;
    width: 100%;
    margin: 1% 0;
    display: flex;
    flex-flow: column;
}

#memberships {
    grid-area: spot;
    flex-flow: column;
    justify-content: flex-start;
    border-radius: 10px;
}

#memberships div {
    justify-content: flex-start;
    border-radius: 10px;
    max-width: 90%;
}

#memberships .tile {
    display: block;
}

.turbosize {
    display: inline;
    font-size: 3em;
}

#news {
    grid-area: news;
}

footer {
    color: #cae9ff;
    background-color: #1b4965;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 90;
    padding: 1%;
    width: 98%;
    max-height: 50vh;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: center;
}

#maplink {
    padding: 1%;
}

hr {
    height: 1px;
    background-color: #cae9ff;
    border: none;
}

#socials img {
    height: 15%;
    width: 15%;
}

#smalltext {
    width: 100%;
    text-align: center;
}

.sea-foam {
    background-color: #bee9e8;
}

.soft-teal {
    background-color: #62b6cb;
}

.navy-blue {
    background-color: #1b4965;
}

.blue-grey,
.colored {
    background-color: #cae9ff;
}

.soft-blue {
    background-color: #5fa8d3;
}

/* DISCOVER PAGE */

#discover {
    grid-area: hero;
    padding: 0 5% 1% 1%;
    justify-self: center;
}

#discover h2 {
    width: 100%;
}

#gallery {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    grid-area: news;
    background-color: #cae9ff;
}

#gallery img {
    max-width: 100%;
}

.gallerytext {
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
    width: fit-content;
    padding: 1%;
    border-radius: 5%;
    background-color: #1b4965;
    color: #cae9ff;
}

/* JOIN PAGE */

form {
    background-color: #1b4965;
    padding: 10px 25px;
    border-radius: 10px;
    color: #cae9ff;
    grid-area: hero;
}

form fieldset {
    margin: 1rem;
    border: 1px solid #bee9e8;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px 20px 0 20px;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label.top {
    display: block;
    padding-bottom: 1rem;
}

form label.sbs {
    display: block;
    padding-top: .5rem;
}

form label.top input,
form label.top select,
form label.top textarea {
    background-color: #bee9e8;
    color: #1b4965;
    display: block;
    min-height: 45px;
    width: 100%;
    max-width: 25rem;
}

form label.top textarea {
    min-height: 60px;
}

form label input::placeholder {
    color: #333;
    font-style: italic;
}

form label input:invalid {
    border-left: red solid 6px;
}

form label input:required:valid {
    border-left: green solid 6px;
}

form input.submitBtn {
    border: 10px solid #cae9ff;
    background-color: #1b4965;
    font-size: 3rem;
    color: #cae9ff;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    margin: 10px 0;
    width: 100%;
}

/* DIRECTORY */

.cards {
    grid-area: hero;
    background-color: #cae9ff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 100%;
}

.cards section {
    background-color: #1b4965;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 5%;
}

.cards section p {
    max-width: 75%;
}

.cards section img {
    max-width: 100%;
    max-height: 200px;
}