@media only screen and (min-width: 32.5em) {

    body {
        margin: 5% 30%;
    }

    footer {
        margin: 1% 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    footer p {
        display: inline;
    }


}