@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Quantico&display=swap');

h1, h2, h3, h4, p, a, li {
    font-family: Quantico;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 10px solid black; */
    /* max-width: 40%; */
    text-align: left;
    align-items: center;
    margin-bottom: 5%;
    background-color: aquamarine;
    border-radius: 100%;
}

header h1 {
    margin-left: 10%;
}

#me {
    grid-column: 1;
    max-width: 100%;
    border-radius: 50%;
}

body {
    max-width: 100%;
}

body h2 {
    margin-left: 0;
    text-align: center;
}

body li {
    margin-left: 10%;
    text-align: left;
}

footer {
    margin: 5%;
    text-align: center;
    /* border: 10px solid black; */
}