@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Rubik:wght@300&display=swap');

/* ~ GENERAL RULESETS */

:root {
    /* Style colors */
    --mantis: #7AC74F;
    --pistachio: #A1CF6B;
    --straw: #D5D887;
    --citron: #E0C879;
    --bittersweet: #E87461;
    /* Fruit colors */
    --raspberry: #dc143c;
    --cherry: #ff0000;
    --persimmon: #ff4500;
    --orange: #ffa500;
    --lemon: #ffff00;
    --pear: #adff2f;
    --kiwi: #9acd32;
    --lime: #98fb98;
    --mango: #87cefa;
    --blackberry: #9370d8;
    /* Clear fruit colors */
    --raspberry-clear: #dc143c55;
    --cherry-clear: #ff000055;
    --persimmon-clear: #ff450055;
    --orange-clear: #ffa50055;
    --lemon-clear: #ffff0055;
    --pear-clear: #adff2f55;
    --kiwi-clear: #9acd3255;
    --lime-clear: #98fb9855;
    --mango-clear: #87cefa55;
    --blackberry-clear: #9370d855;
}

.Raspberry {
    background-color: var(--raspberry);
}

.Cherry {
    background-color: var(--cherry);
}

.Persimmon {
    background-color: var(--persimmon);
}

.Orange {
    background-color: var(--orange);
}

.Lemon {
    background-color: var(--lemon);
}

.Pear {
    background-color: var(--pear);
}

.Kiwi {
    background-color: var(--kiwi);
}

.Lime {
    background-color: var(--lime);
}

.Mango {
    background-color: var(--mango);
}

.Blackberry {
    background-color: var(--blackberry);
}

.raspberry_clear {
    background-color: var(--raspberry-clear);
}

.cherry_clear {
    background-color: var(--cherry-clear);
}

.persimmon_clear {
    background-color: var(--persimmon-clear);
}

.orange_clear {
    background-color: var(--orange-clear);
}

.lemon_clear {
    background-color: var(--lemon-clear);
}

.pear_clear {
    background-color: var(--pear-clear);
}

.kiwi_clear {
    background-color: var(--kiwi-clear);
}

.lime_clear {
    background-color: var(--lime-clear);
}

.mango_clear {
    background-color: var(--mango-clear);
}

.blackberry_clear {
    background-color: var(--blackberry-clear);
}

body {
    margin: 0;
    background-color: var(--citron);
}

body::-webkit-scrollbar {
    display: none;
}

.scroll-visible {
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Delicious Handrawn', cursive;
    text-shadow: black 1px 1px 5px;
    color: var(--bittersweet);
}

.shadow {
    text-shadow: black 1px 1px 5px;
}

h1 {
    font-size: 3em;
    display: inline;
    margin: 0.5em 0 0.5em 0;
}

a,
p,
div,
form,
section {
    font-family: 'Rubik', sans-serif;
    color: black;
}

.flex-h {
    display: flex;
    flex-flow: row;
}

.flex-v {
    display: flex;
    flex-flow: column;
}

.wrap {
    flex-wrap: wrap;
}

.centered {
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline;
}

.fit-content {
    width: fit-content;
}

.margin-bottom-adjust {
    margin-bottom: -45px;
}

a {
    text-decoration: none;
    font-size: 1.5em;
}

a:hover,
a:focus,
input[type=submit]:hover,
input[type=submit]:focus {
    transform: scale(1.05);
}

header a {
    padding: 1.5%;
}

header a:hover,
header a:focus {
    color: white;
    background-color: var(--bittersweet);
    border-radius: 20px 0 20px 0;
}

header,
footer {
    background-color: var(--mantis);
    height: 15vh;
    left: 0;
    right: 0;
    padding: 0% 2%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    justify-content: space-between;
}

nav {
    bottom: 0;
    flex-grow: 2;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

#loginicons {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 20%;
    text-align: right;
    font-size: 0.7em;
}

/* ~ MAIN PAGE */

main {
    min-height: 85vh;
}

#hero {
    background: url("../images/hero.jpg");
    background-size: cover;
    text-align: center;
    height: 85vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#hero h2 {
    font-size: 2em;
    background-color: #000000aa;
    padding: 3%;
    border-radius: 100px;
}

.hero {
    font-size: 4em;
}

.big {
    font-size: 1.5em;
}

.bigger {
    font-size: 2em;
}

.bold {
    font-weight: bold;
}

.indent {
    margin-left: 12px;
}

#customize {
    font-weight: bold;
    padding: 2%;
    border-radius: 20px 0 20px 0;
    background-color: var(--mantis);
}

#customize:hover,
#customize:focus {
    color: black;
    background-image: linear-gradient(to bottom right, red, yellow);
}

#widgets {
    min-height: 90vh;
    padding: 5vh;
    gap: 5vh;
    flex: 1 0 20vw;
}

.tile,
.card,
.add,
form,
fieldset {
    border-radius: 20px;
    display: inline-flex;
    flex-flow: column;
}

.tile {
    min-height: 40vh;
    background-color: var(--mantis);
    padding: 0 2%;
}

.card,
.add {
    height: 33vmin;
    flex: 0 0 175px;
    margin-left: 3vmin;
    background-color: var(--straw);
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5%;
}

.card::-webkit-scrollbar,
.add::-webkit-scrollbar {
    display: none;
}

.card h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    white-space: normal;
}

.add {
    background-color: #D5D88799;
    /* ^^^ straw but with transparency*/
    justify-content: center;
    align-items: center;
    margin-right: 3vmin;
}

#mydrinks {
    flex-grow: 2;
    background-color: var(--mantis);
    overflow-x: auto;
    flex-flow: row;
    white-space: nowrap;
    /* ^^^ apparently this is the make or break */
    justify-content: flex-start;
    align-items: center;
}

#mydrinks::-webkit-scrollbar {
    display: none;
}

#weather {
    flex-grow: 2;
    background-color: skyblue;
}

#forecast {
    width: 75%;
    padding: 20px 0;
    margin: 10px 0 -20px 0;
    justify-content: space-around;
    text-align: center;
}

.place {
    color: white;
    height: 40vh;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 20px;
}

.place p {
    font-weight: bold;
    color: inherit;
    background-color: inherit;
    transition: all 0.5s ease-out;
}

#carlsbad {
    background: url(../images/carlsbad-1024-684.jpg);
    background-size: cover;
    background-position: center;
    background-position: center bottom;
}

#california {
    background: url(../images/california.jpg);
    background-size: cover;
    background-position: center top -50px;
}

/* ~ FRESH PAGE */

#custom-drink {
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

#custom-drink h2 {
    font-size: 2.7em;
    margin-top: 0.6em;
    text-align: center;
}

.base-box {
    min-width: fit-content;
}

.base-box h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

#drink-designer fieldset {
    background-color: var(--straw);
    margin: 10px 0 -70px 0;
}

#drink-designer input[type=submit] {
    margin-top: 50px;
    font-size: 2em;
}

#drink-display {
    background-color: var(--mantis);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

#drink-display ul {
    max-height: 76px;
    max-width: 274px;
}

#selected {
    border: 2px dotted black;
    text-shadow: none;
    border-radius: 40px;
    width: fit-content;
    max-width: 300px;
    padding: 20px;
    display: inline;
    margin: 20px;
    font-size: 1.1em;
}

#selection {
    position: relative;
    background-color: white;
    border-radius: 100px;
    overflow: hidden;
    width: 600px;
    height: 500px;
    margin: 5vh 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

#selection img {
    position: absolute;
    /* transform: rotate(90deg); */
}

.select {
    width: 60px;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
}

.select:hover {
    opacity: 1;
}

.usepointer:hover {
    cursor: pointer;
}

.mask {
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: #000000aa;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.mask p,
.mask a {
    font-size: 2em;
    color: white;
}

.mask a {
    border-radius: 50px;
    padding: 15px;
    background-color: var(--mantis);
    border: 5px solid white;
}

.mask-buttons {
    width: 400px;
    justify-content: space-around;
}

.mask-buttons a {
    display: inline;
}

#alreadyloggedin a[id=logout] {
    background-color: var(--bittersweet);
}

.nutrition {
    background-color: white;
    border: 1px solid black;
    justify-content: space-between;
    width: 300px;
    padding: 6px;
}

.nutrition hr {
    width: 288px;
}

.nutrition h4 {
    font-family: Helvetica, sans-serif;
    text-shadow: none;
    font-size: 2em;
    color: black;
    margin: 0;
}

.nutrition hr:nth-child(2),
.nutrition hr:nth-child(17) {
    border: 6px solid black;
}

.nutrition hr:nth-child(5) {
    border: 3px solid black;
}

.nutrition div:nth-child(3),
.nutrition div:nth-child(4) {
    font-size: 1.5em;
    font-weight: bold;
}

.nutrition div:nth-child(6),
.nutrition div:nth-child(9),
.nutrition div:nth-child(15) {
    font-weight: bold;
}

.nutrition div:nth-child(12) {
    margin-left: 12px;
}

/* ~ ABOUT PAGE */

#about-main {
    margin: 20px;
    gap: 20px;
}

#about-main .tile {
    font-size: 1.4em;
    padding: 0 5%;
    min-width: 0;
    max-height: fit-content;
    flex: 1 0 100vw;
    display: inline-block;
}

#about-main .tile h2 {
    margin-bottom: 0;
    text-align: center;
}

iframe {
    display: inline-block;
}

#contactus {
    text-align: center;
    
}

#contactus div {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

/* ~ ACCOUNT PAGE */

#account-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -99;
    overflow: hidden;
}

.frame img {
    width: 100%;
    position: relative;
    margin-bottom: -33vh;
}

#accountform {
    margin: 0 25vmin;
    align-items: center;
}

form fieldset {
    display: flex;
    flex-flow: column;
    width: 250px;
    padding: 5%;
    margin: 1vw 0;
    align-items: center;
    border: 1px solid var(--bittersweet);
    background-color: #E0C87999;
    /* ^^^ citron but with transparency*/
}

form fieldset legend {
    font-size: 1.5em;
    text-align: center;
}

form fieldset label {
    display: block;
    font-size: 1.2em;
    padding-bottom: 1rem;
}

form fieldset input,
form fieldset select,
form fieldset textarea {
    display: block;
    padding: 10px;
}

form label input::placeholder {
    color: #333;
    font-style: italic;
}

form label input:invalid {
    border-left: red solid;
}

form label input:required:valid {
    border-left: green solid;
}

form fieldset input[type=datetime-local] {
    display: none;
}

form input[type=submit] {
    font-family: 'Delicious Handrawn', cursive;
    color: var(--bittersweet);
    width: fit-content;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 5%;
    padding: 5%;
    border-radius: 50px;
    border: 5px solid var(--bittersweet);
    background-color: var(--pistachio);
}